/**************************************************************************
                                    join with us section
 **************************************************************************/

html, body {
    background: #E5E5E5;
}

.join-section-wrapper{
    --bs-gutter-x: 0 rem !important;
}

.join-section{
    height: 500px;
    background: linear-gradient(45.2deg, #076633 1.08%, rgba(7, 102, 51, 0) 99.02%), url('./assets/join-img.png') no-repeat -120px -100px;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 40%;
}

.join-section__content{
    width: 70%;
}

.join-section__content-main-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #FFFFFF;
}

.join-section__content-content{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.join-now-btn{
    width: 200px;
    height: 50px;
    background: #3AA935;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
}

.info-text{
    font-family: 'Roboto';
    font-size: 26px;
    line-height: 38px;
    color: #000000;
}

.info-heading{
    font-family: 'Roboto';;
    font-weight: bold;
    font-size:24px;
    color: #0E6836;
}

.info-question{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #90BF3F;
    margin-top: 25px;
}

.info-answer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.benefits-sub-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
}

ul.benefits-list {
    list-style: none;
}

ul.benefits-list li::before {
    content: "\2022";
    color: #3AA935;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
}

.faq-accordion .accordion-button{
    background-color: #F3F3F7 !important;
    border-radius: 5px !important;
    height: 56px !important;
    display: flex;
    flex-direction: row;
    align-items: revert;
}

.accordion-item p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.accordion-item button p{
    margin-top:5px;
}

.awarding-body-section{
    height : auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.09);
}

.awarding-body-section__heading{
    margin: 0 auto;
    width: fit-content;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 20px;
    color: #000000;
}

.awarding-body-list__item{
    width: 200px;
    height: 150px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.awarding-body-list__item:hover{
    transform: scale(1.05);
}

.awarding-body-1{
    width: 160px;
    height: 85px;
    align-self: center;
}

.awarding-body-2{
    width: 170px;
    height: 90px;
    align-self: center;
}

.awarding-body-3{
    width: 185px;
    height: 98px;
    align-self: center;
}

.join-form{
    height: 60%;
    background: linear-gradient(105.99deg, #3DA948 7.8%, #90BF3F 85.94%);
    box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.04);
}

/**************************************************************************
                            join with us form
 **************************************************************************/

.join-form-heading__main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFCFC;
}

.join-form-heading__sub{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #FFFCFC;
}

.free-course-img-container{
    height: 260px;
}

.free-course-img-container img{
    width: 100%;
}

/*.free-course-container{*/
/*    flex-direction: column;*/
/*}*/

.free-course-form{
    height: 600px;
    background: #0E6836;
    border-radius: 5px 0px 0px 5px;
}

.feedback-container{
    height: 600px;
    background: #1F420C;
    border-radius: 5px 0px 0px 5px;
}

.user-details-container{
    color: #FFFFFF;
    font-family: 'Roboto';
}

.user-name{
    margin-bottom: 3px !important;
    font-weight: 500;
    font-size: 18px;
}

.user-occupation{
    font-size: 14px;
}

.carousel-item p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

/*.carousel-control-prev,*/
/*.carousel-control-next{*/
/*    align-items: flex-start;*/
/*}*/

/*.carousel-control-prev,*/
/*.carousel-control-next{*/
/*    align-items: flex-end;*/
/*}*/

/*.controllers-container{*/
/*    margin-top: 50px !important;*/
/*}*/

.feedback-carousel{
    height: 300px;
}
.star-container{
    color: #fff;
}

.carousel-control-prev-icon {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 50px;
    right: 20px;
}